{{!-- Slider Section --}}

<div class="section slider-section">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./public/images/guitarGame.jpg" class="d-block w-100" alt="...">
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div> --}}
            </div>
            <div class="carousel-item">
                <img src="./public/images/paintGame.jpg" class="d-block w-100" alt="">
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div> --}}
            </div>
            <div class="carousel-item">
                <img src="./public/images/mazeGame.jpg" class="d-block w-100" alt="">
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div> --}}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>   
</div>

{{!-- End of Slider Section  --}}


{{!-- Category Section --}}

<section class="section category-btn-section pt-5 pb-5 yellow-section-background">
    <div class="container">
        <h1 class="main-heading text-center mt-5 mb-5">Our Games</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            
            <div class="col-sm-4 category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <a href="/guitarGame">
                    <img src="../../public/images/guitar_game.gif" class="card-img-top" alt="{{image}}">
                    </a>
                </div>
            </div>

            <div class="col-sm-4 category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                     <a href="/paintGame">
                    <img src="../../public/images/paint_game.gif" class="card-img-top" alt="{{image}}">
                    </a>
                </div>
            </div>

            <div class="col-sm-4 category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                     <a href="/mazeGame">
                    <img src="../../public/images/maze_game.gif" class="card-img-top" alt="{{image}}">
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>


{{!-- End of Category Section --}}


{{!-- Reviews Slider --}}
{{!-- 
<section class="section review-section pt-5 pb-5 bg-white">
    <div class="container">
            <h2 class="main-heading text-center mt-5 mb-5">Reviews</h2>
            
            <div class="slider slider-nav">
                <div class="card review-card">
                    <div class="card-body">
                        <p class="card-title">Title</p>
                        <p class="card-text">Rating : 5 / 5</p>
                        <p class="card-text">Date : 03/22/2022</p> --}}
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    {{!-- </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <p class="card-title">Title</p>
                        <p class="card-text">Rating : 5 / 5</p>
                        <p class="card-text">Date : 03/22/2022</p>
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    </div>
                {{!-- </div>
                <div class="card review-card">
                    <div class="card-body">
                        <p class="card-title">Title</p>
                        <p class="card-text">Rating : 5 / 5</p>
                        <p class="card-text">Date : 03/22/2022</p> --}}
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    {{!-- </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <p class="card-title">Title</p>
                        <p class="card-text">Rating : 5 / 5</p>
                        <p class="card-text">Date : 03/22/2022</p> --}}
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    {{!-- </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <p class="card-title">Title</p>
                        <p class="card-text">Rating : 5 / 5</p>
                        <p class="card-text">Date : 03/22/2022</p> --}}
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    {{!-- </div>
                </div>
                <div class="card review-card">
                    <div class="card-body">
                        <p class="card-title">Title</p>
                        <p class="card-text">Rating : 5 / 5</p>
                        <p class="card-text">Date : 03/22/2022</p> --}}
                        {{!-- <a href="#" class="btn btn-danger">Go somewhere</a> --}}
                    {{!-- </div>
                </div>
            </div>
    </div>
</section> --}}


{{!-- End of Reviews Slider --}}