{{!-- Slider Section --}}

<div class="section slider-section">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./public/images/log.jpg" class="d-block w-100" alt="...">
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div> --}}
            </div>
            <div class="carousel-item">
                <img src="./public/images/log.jpg" class="d-block w-100" alt="">
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div> --}}
            </div>
            <div class="carousel-item">
                <img src="./public/images/log.jpg" class="d-block w-100" alt="">
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div> --}}
            </div>
            <div class="carousel-item">
                <img src="./public/images/log.jpg" class="d-block w-100" alt="">
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div> --}}
            </div>
            <div class="carousel-item">
                <img src="./public/images/log.jpg" class="d-block w-100" alt="">
                {{!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div> --}}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>   
</div>

{{!-- End of Slider Section  --}}


{{!-- Category Section --}}

<section class="section category-btn-section pt-5 pb-5 yellow-section-background">
    <div class="container">
        <h1 class="main-heading text-center mt-5 mb-5">Our Games</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            
            <div class="col category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <img src="../../public/images/logo.png" class="card-img-top" alt="{{image}}">
                </div>
            </div>

            <div class="col category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <img src="../../public/images/logo.png" class="card-img-top" alt="{{image}}">
                </div>
            </div>

            <div class="col category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <img src="../../public/images/logo.png" class="card-img-top" alt="{{image}}">
                </div>
            </div>

            <div class="col category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <img src="../../public/images/logo.png" class="card-img-top" alt="{{image}}">
                </div>
            </div>

        </div>
    </div>
</section>








<section>
    <div class="carousel-bg">
    <div>
      <img src="https://i.imgur.com/gZ5HY0U.png" class="img-responsive quote-image">
    </div>
    <!-- Carousel Start below -->
    <div id="carousel1" class="carousel slide testimonial-style" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators carousel-indicators1">
        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel1" data-slide-to="1"></li>
        <li data-target="#carousel1" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-caption testimonial-caption-style">
            <p>Review 1</p>
            <p class="testimonial-authors">Person 1</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption testimonial-caption-style">
            <p>Review 2</p>
            <p class="testimonial-authors">Person 2</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption testimonial-caption-style">
            <p>Reviewcxvvdvdvd 3</p>
            <p class="testimonial-authors">Person 3</p>
          </div>
        </div>
      </div>
  
      <!-- Controls -->
  
      <a class="left carousel-control" href="#carousel1" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
      <a class="right carousel-control" href="#carousel1" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
</div>
</section>
{{!-- End of Category Section --}}
