{{!-- Category Section --}}

<section class="section category-btn-section pt-5 pb-5 yellow-section-background">
    <div class="container">
        <h1 class="main-heading text-center mt-5 mb-5">Our Categories</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            
            <div class="col category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <img src="../../public/images/logo.png" class="card-img-top" alt="{{image}}">
                </div>
            </div>

            <div class="col category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <img src="../../public/images/logo.png" class="card-img-top" alt="{{image}}">
                </div>
            </div>

            <div class="col category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <img src="../../public/images/logo.png" class="card-img-top" alt="{{image}}">
                </div>
            </div>

            <div class="col category-card-box">
               
                <div class="card category-card">
                     {{!-- <p>{{category}}</p> --}}
                    <img src="../../public/images/logo.png" class="card-img-top" alt="{{image}}">
                </div>
            </div>

        </div>
    </div>
</section>

{{!-- End of Category Section --}}
